.img-grid-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

.img-grid-2 img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .img-grid-2 {
        grid-template-columns: 1fr;
    }
}

.grenade-h {
    font-size: inherit !important;
    font-weight: inherit !important;
    margin-top: 1em;
}
